/* Selektor znacznika*/

p {
    color: orange;
}


/*selektor identyfikatora id */

#paragraf {
    color: blue;
}


/* selektor klasy */

.akapit {
    color: yellow;
}


/* łączenie selektorów */

a,
span,
div {
    color: green;
}


/* selektor bezpośredniego elementu potomnego */

li>a {
    color: red;
}


/* selektor  elementu potomnego */

div a {
    color: brown;
}


/*selektor bliskiego rodzeństwa "+" */

h2+h3 {
    color: chartreuse;
}
/* selektor  rodzeństwa  oddzielone znakiem "~"*/

h4 ~ p {
    color: darkorchid;
    
}