/* Selektor znacznika*/

p {
    color: orange;
}


/*selektor identyfikatora id */

#paragraf {
    color: blue;
    
}
    /* selektor klasy */
    
    .akapit{
        color: yellow;
        
        
    }
    
/* łączenie selektorów */
a, span, div {
    color: green;
}
 
